html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: url("/images/background.png") no-repeat center top fixed !important;
    background-size: cover;
}

.login-card {
    background: white;
    border-radius: 15px;
    padding: 30px;
    width: 400px;
}

.link-auth {
    transition: 0.3s;
}

.link-auth:hover {
    color: #ff9800 !important;
    text-decoration: underline;
}

.btn-marstay {
    background-color: #1b2b49;
    color: white;
    border: none;
}

.btn-marstay:hover {
    background-color: #16233a;
    color: white;
}

.btn-outline-marstay {
    border: 2px solid #1b2b49;
    color: #1b2b49;
    background: transparent;
}

.btn-outline-marstay:hover {
    background-color: #1b2b49;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 40px;
    background-color: #1b2b49;
    color: white;
    font-size: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    gap: 40px;
}

.footer-right {
    display: flex;
    gap: 18px;
}

.footer i {
    color: #d4af37;
    cursor: pointer;
    transition: 0.3s;
}

.footer i:hover {
    color: #ffd700;
    transform: scale(1.2);
}
